// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "nullstyle";

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: $fontFamily;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: #ffffff;
    color: $colorText;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height-base;
}

#app {
    height: 100%;
}

.wrapper-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    //margin: 0 auto;
}

.main-layout {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    //@media (min-width: 768px) {
    //    padding-right: 50px;
    //    padding-left: 50px;
    //}
    //@media (min-width: 992px) {
    //
    //}
    //@media (min-width: 1200px) {
    //
    //}
}
