@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  text-align: left;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

.slider-arrow button {
  padding: 0 !important;
}

.slider-arrow button:first-child {
  left: -20px;
}

.slider-arrow button:last-child {
  right: -20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
  font-size: 1.6rem;
  line-height: 1.2;
  background-color: #ffffff;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

#app {
  height: 100%;
}

.wrapper-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

.form-item {
  display: block;
  margin-bottom: 3rem;
  position: relative;
}

.form-error {
  border: 2px solid #D53128 !important;
}

.form-label {
  display: block;
  margin: 0 0 5px;
  font-size: 1.6rem;
  color: #333333;
}

.form-label:after {
  content: "*";
  font-size: 0.9em;
  margin-left: 0.2em;
  line-height: 0.7em;
  color: #D53128;
}

.form-input {
  padding: 0 15px;
  border: 1px solid #808080;
  background-color: #ffffff;
  color: #333333;
  font-size: 1.6rem;
  height: 40px;
  border-radius: 5px;
  width: 100%;
}

.form-input:focus {
  box-shadow: 0 0 0 0.2rem #ededed;
  border-color: #cccccc;
}

.form-input:disabled {
  background: #DDD;
  color: #808080;
}

.form-input.invalid {
  box-shadow: 0 0 0 0.2rem #D53128;
}

.error-label {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #D53128;
}

