@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  text-align: left;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

body {
  height: 100%;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
  font-size: 1.6rem;
  line-height: 1.2;
  background-color: #ffffff;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 30px;
}

#app {
  height: 100%;
}

.wrapper-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex-grow: 1;
}

.container {
  max-width: 1400px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

